#Rankings {
  background-color: $background;
  .header {
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
      @include header-sans(51px, 110%);
      margin-bottom: 20px;
    }
    p {
      @include text-sans(22px, 160%);
    }
    @media (max-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      h2 {
        @include header-sans(38px, 120%);
      }
      p {
        @include text-sans(16px, 140%);
      }
    }
    @media (max-width: $mobile-width) {
      padding-top: 30px;
      padding-bottom: 30px;
      h2 {
        @include header-sans(28px, 140%);
        margin-bottom: 10px;
      }
    }
  }
  .tabs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .container {
      display: flex;
      justify-content: space-between;
      > button {
        transition: all 0.3s ease;
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: 60px;
        width: 100%;
        display: flex;
        column-gap: 16px;
        align-items: center;
        padding: 0px 30px;
        justify-content: center;
        h5 {
          @include header-sans(22px, 140%);
          color: $caption-label-text;
        }
      }
    }
    @media screen and (max-width: $tablet-width) {
      .container {
        > button {
          width: 100%;
          h5 {
            @include header-sans(16px, 140%);
            color: $caption-label-text;
          }
        }
      }
    }
    @media screen and (max-width: $mobile-width) {
      .container {
        > button {
          padding: 0px 10px;
          width: 100%;
        }
      }
    }
  }
  .clicked-on {
    border-bottom: 2px solid $caption-label-text !important;
    h5 {
      color: $text !important;
    }
  }
  .artists {
    padding-top: 40px;
    padding-bottom: 40px;
    .container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &__btns {
      width: 100%;
      border-radius: 20px;
      border: 1px solid $background---secondary;
      height: 46px;
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      //   column-gap: 60px;
      p {
        @include text-space(16px, 140%);
        color: $caption-label-text;
      }
      &__rank-artist {
        display: flex;
        column-gap: 20px;
        width: 430px;
        p:first-child {
          width: 30px;
          text-align: center;
        }
      }
      &__stats {
        display: flex;
        column-gap: 20px;

        p {
          width: 160px;
        }
        p:nth-child(3) {
          width: 110px;
        }
        p:last-child {
          width: 30px;
        }
      }
    }
    &__container {
      &__artist {
        width: 100%;
        border-radius: 20px;
        background: $background---secondary;
        padding: 12px 20px;
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 60px;
        p {
          @include text-space(16px, 140%);
          color: $caption-label-text;
        }
        &__rank-artist {
          display: flex;
          column-gap: 20px;
          width: 430px;
          align-items: center;
          &__rank {
            border-radius: 20px;
            background: $background;
            width: 30px;
            height: 30px;
            @include text-space(16px, 140%);
            color: $caption-label-text;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__artist {
            display: flex;
            column-gap: 20px;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
              border-radius: 100px;
            }
            h5 {
              @include header-sans(22px, 140%);
            }
          }
        }
        &__stats {
          display: flex;
          column-gap: 20px;
          align-items: center;
          p {
            width: 160px;
            color: white;
          }
          p:nth-child(3) {
            width: 110px;
          }
          p:first-child {
            color: $green;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
